body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0;
}

nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    /* background-color: red; */
    height:70 ;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.button1{
    height:40px; 
    width:120px; 
    border: none;
    border-radius: 50px;  
    background-color: rgb(18, 241, 167);
    font-size: 16px;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heads{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.heading{
    margin-bottom: -20px;
    /* display: inline-block; */
    font-size: 70px;
}

span{
    color:rgb(18, 241, 167);
}

.para{
    font-size: 30px;
    text-align: center;
}

iframe{
    width:2200px;
    height:900px;
    overflow: visible;
}

.bold{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

.button2{
    height:60px; 
    width:180px; 
    border: none;
    border-radius: 50px;  
    background-color: rgb(18, 241, 167);
    font-size: 22px;
    color: white;
}

footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.foot{
    height:800px;
    width:2500px;
    /* background-color: red; */
    border-top: 1px black solid;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.haha{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}